@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-fredoka: "Fredoka", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  
}

@keyframes idle-breath {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.9;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }
}


.animate-idle-breath {
  animation: idle-breath 3s ease-in-out infinite;
}

@layer utilities {
  .border-common {
    @apply border border-slate-500/40;
    box-shadow: 0 0 8px rgba(148, 163, 184, 0.25);
  }

  .border-rare {
    @apply border border-blue-400/60;
    box-shadow: 0 0 10px rgba(96, 165, 250, 0.3);
  }

  .border-unique {
    @apply border border-violet-400/70;
    box-shadow: 0 0 12px rgba(167, 139, 250, 0.35);
  }

  .border-legendary {
    @apply border border-amber-400/80;
    box-shadow: 0 0 14px rgba(251, 191, 36, 0.4);
  }

}


@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  to {
    transform: rotate(-360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 14s linear infinite;
}

.animate-spin-reverse {
  animation: spin-reverse 22s linear infinite;
}
